{% extends 'base.html' %}
{% load static %}

{% block title %}
  Catalog — OUSVOW JEWELRY
{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/pages/catalog.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="catalog__wrapper">
    {# CATALOG MAIN IAMGE #}
    <div class="catalog__image">
      <div class="catalog__image-name">
        <h2>OUSVOW JEWELRY</h2>
        <p>Lorem ipsum dolor sit amet consectetur. Sed commodo pellentesque arcu tristique et morbi.</p>
      </div>
      <div class="catalog__image-img">
        <img src="{% static 'img/catalog/back.jpg' %}" alt="" />
      </div>
    </div>

    {# catalog MAIN content #}
    <div class="catalog__container">
      <div class="catalog__container-results">
        <span>200 Results</span>
      </div>
      {# CATALOG FILTER + RESULTS #}
      <div class="catalog__container-wrapper">
        {# CATALOG FILTER #}
        <div class="catalog__filter">
          <div class="catalog__filter-element">
            <div class="catalog__filter-line"></div>
            <p>Collection</p>
            <div class="catalog__filter__small">
              
              <input type="checkbox" name="charms" id="charms" />
              <label for="charms">Charms</label>
            </div>
            <div class="catalog__filter__small">
              
              <input type="checkbox" name="bracelets" id="bracelets" />
              <label for="bracelets">Bracelets</label>
            </div>
            <div class="catalog__filter__small">
              
              <input type="checkbox" name="rings" id="rings" />
              <label for="rings">Rings</label>
            </div>
            <div class="catalog__filter__small">
              
              <input type="earning" name="earning" id="earning" />
              <label for="earning">Earnings</label>
            </div>
          </div>
        </div>

        {# CATALOG RESULTS #}
        <div class="catalog__results">
          {# CATALOG ELEMENT #}
          <a class="catalog__element">
            <div class="catalog__element-img">
              <img src="{% static 'img/catalog/catalog-placeholder.png' %}" alt="" />
            </div>

            <h4>Pulsera Moments Cadena de Serpiente con cierre de Corazón</h4>
            <p>54.00 $</p>
          </a>
                    {# CATALOG ELEMENT #}
          <a class="catalog__element">
            <div class="catalog__element-img">
              <img src="{% static 'img/catalog/catalog-placeholder.png' %}" alt="" />
            </div>

            <h4>Pulsera Moments Cadena de Serpiente con cierre de Corazón</h4>
            <p>54.00 $</p>
          </a>
                    {# CATALOG ELEMENT #}
          <a class="catalog__element">
            <div class="catalog__element-img">
              <img src="{% static 'img/catalog/catalog-placeholder.png' %}" alt="" />
            </div>

            <h4>Pulsera Moments Cadena de Serpiente con cierre de Corazón</h4>
            <p>54.00 $</p>
          </a>
                    {# CATALOG ELEMENT #}
          <a class="catalog__element">
            <div class="catalog__element-img">
              <img src="{% static 'img/catalog/catalog-placeholder.png' %}" alt="" />
            </div>

            <h4>Pulsera Moments Cadena de Serpiente con cierre de Corazón</h4>
            <p>54.00 $</p>
          </a>
                    {# CATALOG ELEMENT #}
          <a class="catalog__element">
            <div class="catalog__element-img">
              <img src="{% static 'img/catalog/catalog-placeholder.png' %}" alt="" />
            </div>

            <h4>Pulsera Moments Cadena de Serpiente con cierre de Corazón</h4>
            <p>54.00 $</p>
          </a>
        </div>
        {# ---- #}
      </div>
    </div>
  </div>
{% endblock %}
