{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        Jewelry Shop
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/plyr@3/dist/plyr.css">

    {% block extra_css %}

    {% endblock %}
  </head>
  <body>
    <div class="main__wrapper">
      {# HEADER MENU #}
      <header>
        <p>OUSVOW JEWELRY</p>
        <div class="header__about-menu">
          <div class="header__about-search">
            <img src="{% static 'img/common/search-normal.svg' %}" alt="Search icon" />
          </div>
          <div class="header__about-burger">
            <img src="{% static 'img/common/textalign-justifyright.svg' %}" alt="Burger icon" />
          </div>
        </div>
      </header>
      {# NAVIGTION #}
      <nav>
        <div class="navigation__wrapper">
          <a class="navigation__element">Products</a>
          <a class="navigation__element">Collections</a>
          <a class="navigation__element">Contact Us</a>
        </div>
      </nav>
      {# MAIN CONTENT HERE #}
      {% block content %}

      {% endblock %}

      {# FOOTER #}
      <footer>
        <div class="footer__container">
          <div class="footer__wrapper">
            {# Footer desc #}
            <div class="footer__desc">
              <h2>OUSVOW JEWELRY</h2>
              <p>This growth plan will help you reach your resolutions and achieve the goals you have been striving towards.</p>
              <div class="footer__social">
                <a href="#" class="footer__element"><img src="{% static 'img/common/facebook.svg' %}" alt="" /></a>
                <a href="#" class="footer__element"><img src="{% static 'img/common/facebook.svg' %}" alt="" /></a>
                <a href="#" class="footer__element"><img src="{% static 'img/common/facebook.svg' %}" alt="" /></a>
                <a href="#" class="footer__element"><img src="{% static 'img/common/facebook.svg' %}" alt="" /></a>
                <a href="#" class="footer__element"><img src="{% static 'img/common/facebook.svg' %}" alt="" /></a>
              </div>
            </div>

            {# Footer navigation #}
            <div class="footer__navigation">
              <div class="footer__navigation-element">
                <h4>Navigation Name</h4>
                <p>About</p>
                <p>We Are</p>
                <p>Test t</p>
                <p>Contact</p>
              </div>
            </div>
          </div>

          {# Footer created and rights #}
          <div class="footer__rights-created">
            <div class="footer__created">
              <a href="#"><img src="{% static 'img/common/logo_big.png' %}" alt="" /></a>
            </div>
            <div class="footer__rights">
              © {% now 'Y' %} Ousvow Jewelry. All rights reserved.
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- общий js -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- сюда страницы подставят свой js -->
    {% block extra_js %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/plyr@3"></script>
<script>
  const player = new Plyr('#plyr', { youtube: { rel: 0, modestbranding: 1 }});
</script>
  </body>
</html>
