{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        Jewelry Shop
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    {% block extra_css %}

    {% endblock %}
  </head>
  <body>
    <div class="main__wrapper">
      {# HEADER MENU #}
      <header>
          <p>OUSVOW JEWELRY</p>
          <div class="header__about-menu">
            <div class="header__about-search">
              <img src="{% static 'img/common/search-normal.svg' %}" alt="Search icon" />
            </div>
            <div class="header__about-burger">
              <img src="{% static 'img/common/textalign-justifyright.svg' %}" alt="Burger icon" />
            </div>
          </div>
      </header>
      {# NAVIGTION #}
      <nav>
        <div class="navigation__wrapper">
          <a class="navigation__element">Products</a>
          <a class="navigation__element">Collections</a>
          <a class="navigation__element">Contact Us</a>
        </div>
      </nav>
      {# MAIN CONTENT HERE #}
      {% block content %}

      {% endblock %}

      {# FOOTER #}
      <footer>
        <small>© Jewelry Shop</small>
      </footer>
    </div>

    <!-- общий js -->
    <script src="{% static 'js/main.js' %}"></script>
    <!-- сюда страницы подставят свой js -->
    {% block extra_js %}

    {% endblock %}
  </body>
</html>
