@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

body.lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-ms-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.main__wrapper {
  min-height: 500px;
  width: 100%;

}

header {
  height: 106px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 53px 0px 43px;
  border-bottom: 6px solid #1e1e1e;
}
header p {
  font-family: 'Playfair Display', serif;

  font-weight: 700;
  font-style: Bold;
  font-size: 48px;

  line-height: 100%;
  letter-spacing: 0%;
}
.header__about-menu {
  display: flex;
  justify-content: space-between;
  width: 81px;
  height: 24px;
}

nav {
  height: 68px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 35px;
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px #00000040;

}
.navigation__wrapper {
  display: flex;
  align-items: center;
}
.navigation__element {
  margin-right: 40px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

/*******FOOTER ELEMENT*********/
/*******FOOTER ELEMENT*********/
/*******FOOTER ELEMENT*********/

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #EAECF029;
  width: 100%;
  height: 406px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: #1e1e1e 20px solid;
}
.footer__container {
  width: 1140px;
  height: 100%;
  padding-top: 78px;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__desc {
  width: 279px;
  height: 239px;
}
.footer__desc h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer__desc p {
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #1e1e1ecc;
  font-size: 15px;

  line-height: 17.5px;
  letter-spacing: 0px;
}
.footer__social {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.footer__social a {
  width: 24px;
  height: 24px;
}
.footer__element {
}

.footer__navigation {
  width: 730px;
  display: flex;
  justify-content: space-evenly;
}

.footer__navigation-element {
  height: 100%;
}
.footer__navigation-element h4 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 15px;
}
.footer__navigation-element p {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  font-size: 15px;

  line-height: 17.5px;
  letter-spacing: 0px;
  color: #1e1e1ecc;
  margin-bottom: 9px;
}
.footer__rights-created {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__created {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
}
.footer__created a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__created img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer__rights {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #1e1e1ecc;
  line-height: 24px;
  letter-spacing: 0%;
}
